@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('font/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),  url('font/ProximaNova-Regular.otf')  format('opentype'),
    url('font/ProximaNova-Regular.woff') format('woff'), url('font/ProximaNova-Regular.ttf')  format('truetype'), url('font/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('font/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),  url('font/ProximaNova-Bold.otf')  format('opentype'),
    url('font/ProximaNova-Bold.woff') format('woff'), url('font/ProximaNova-Bold.ttf')  format('truetype'), url('font/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Reset CSS
* --------------------------------------- */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre,
form, fieldset, input, select, textarea, p, blockquote, th, td {
    padding: 0;
    margin: 0;
    outline: none;
}

a {
    text-decoration: none;
    color: #4d4d4d;
    outline: none;
}

table {
    border-spacing: 0;
}

fieldset, img {
    border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-weight: normal;
    font-style: normal;
}

strong {
    font-weight: bold;
}

ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

caption, th {
    text-align: left;

}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 100%;
    margin: 0;
    padding: 0;
    color: #4d4d4d;
    font-family: 'proxima_nova_rgbold', sans-serif;
    font-weight: 700;
}

q:before, q:after {
    content: '';
}

abbr, acronym {
    border: 0;
}

/* Custom CSS
* --------------------------------------- */
body {
    font-family: 'proxima_nova_rgregular', sans-serif;
    color: #4d4d4d;
    vertical-align: top;
    font-size: 16px;
    background-image: url('image/content-bg.jpg?123');
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    background-size: cover;
}

#header_search, .screen-reader-text {
    display: none;
}


.welcome-altoros-sprite-038, .welcome-altoros-sprite-043, .welcome-altoros-sprite-040, .welcome-altoros-sprite-041, .welcome-altoros-sprite-031, .welcome-altoros-sprite-022,
.welcome-altoros-sprite-023, .welcome-altoros-sprite-037, .welcome-altoros-sprite-035, .welcome-altoros-sprite-039, .welcome-altoros-sprite-042,
.welcome-altoros-sprite-001, .welcome-altoros-sprite-044, .welcome-altoros-sprite-036, .welcome-altoros-sprite-045, .welcome-altoros-sprite-020,
.welcome-altoros-sprite-025, .welcome-altoros-sprite-019, .welcome-altoros-sprite-024, .welcome-altoros-sprite-028, .welcome-altoros-sprite-046,
.welcome-altoros-sprite-047, .welcome-altoros-sprite-048, .welcome-altoros-sprite-049, .welcome-altoros-sprite-029, .welcome-altoros-sprite-050,
.welcome-altoros-sprite-032, .welcome-altoros-sprite-033, .welcome-altoros-sprite-021, .welcome-altoros-sprite-018, .welcome-altoros-sprite-030,
.welcome-altoros-sprite-027, .welcome-altoros-sprite-034, .welcome-altoros-sprite-005, .welcome-altoros-sprite-005a, .welcome-altoros-sprite-012,
.welcome-altoros-sprite-012a, .welcome-altoros-sprite-003, .welcome-altoros-sprite-003a, .welcome-altoros-sprite-007, .welcome-altoros-sprite-013,
.welcome-altoros-sprite-013a, .welcome-altoros-sprite-015, .welcome-altoros-sprite-015a, .welcome-altoros-sprite-008, .welcome-altoros-sprite-009,
.welcome-altoros-sprite-010, .welcome-altoros-sprite-011, .welcome-altoros-sprite-026, .welcome-altoros-sprite-004, .welcome-altoros-sprite-004a,
.welcome-altoros-sprite-016, .welcome-altoros-sprite-017, .welcome-altoros-sprite-006, .welcome-altoros-sprite-006a, .welcome-altoros-sprite-014,
.welcome-altoros-sprite-014a, .welcome-altoros-sprite-002, .welcome-altoros-sprite-002a, .content .accordion .element-title:after {
    display: inline-block;
    background: url('image/welcome-altoros-sprite-n.png?123') no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
}

.welcome-altoros-sprite-040 {
    background-position: -0px -0px;
    width: 290px;
    height: 39px;
}

.welcome-altoros-sprite-038 {
    background-position: -0px -39px;
    width: 240px;
    height: 52px;
}

.welcome-altoros-sprite-043 {
    background-position: -0px -91px;
    width: 212px;
    height: 37px;
}

.welcome-altoros-sprite-041 {
    background-position: -0px -128px;
    width: 188px;
    height: 77px;
}

.welcome-altoros-sprite-031 {
    background-position: -0px -205px;
    width: 183px;
    height: 60px;
}

.welcome-altoros-sprite-022 {
    background-position: -0px -265px;
    width: 177px;
    height: 40px;
}

.welcome-altoros-sprite-023 {
    background-position: -0px -305px;
    width: 173px;
    height: 41px;
}

.welcome-altoros-sprite-037 {
    background-position: -0px -346px;
    width: 169px;
    height: 102px;
}

.welcome-altoros-sprite-035 {
    background-position: -0px -448px;
    width: 154px;
    height: 60px;
}

.welcome-altoros-sprite-039 {
    background-position: -0px -508px;
    width: 153px;
    height: 77px;
}

.welcome-altoros-sprite-042 {
    background-position: -0px -585px;
    width: 146px;
    height: 78px;
}

.welcome-altoros-sprite-001 {
    background-position: -146px -585px;
    width: 141px;
    height: 22px;
}

.welcome-altoros-sprite-044 {
    background-position: -154px -448px;
    width: 124px;
    height: 102px;
}

.welcome-altoros-sprite-036 {
    background-position: -169px -346px;
    width: 118px;
    height: 60px;
}

.welcome-altoros-sprite-045 {
    background-position: -183px -205px;
    width: 105px;
    height: 105px;
}

.welcome-altoros-sprite-020 {
    background-position: -188px -128px;
    width: 88px;
    height: 45px;
}

.welcome-altoros-sprite-025 {
    background-position: -169px -406px;
    width: 86px;
    height: 40px;
}

.welcome-altoros-sprite-019 {
    background-position: -146px -607px;
    width: 83px;
    height: 44px;
}

.welcome-altoros-sprite-024 {
    background-position: -146px -651px;
    width: 80px;
    height: 40px;
}

.welcome-altoros-sprite-028 {
    background-position: -0px -663px;
    width: 70px;
    height: 60px;
}

.welcome-altoros-sprite-046 {
    background-position: -70px -663px;
    width: 70px;
    height: 59px;
}

.welcome-altoros-sprite-047 {
    background-position: -140px -691px;
    width: 70px;
    height: 60px;
}

.welcome-altoros-sprite-048 {
    background-position: -210px -691px;
    width: 70px;
    height: 60px;
}

.welcome-altoros-sprite-049 {
    background-position: -70px -722px;
    width: 70px;
    height: 60px;
}

.welcome-altoros-sprite-029 {
    background-position: -0px -723px;
    width: 67px;
    height: 59px;
}

.welcome-altoros-sprite-050 {
    background-position: -140px -751px;
    width: 63px;
    height: 60px;
}

.welcome-altoros-sprite-032 {
    background-position: -229px -607px;
    width: 60px;
    height: 60px;
}

.welcome-altoros-sprite-033 {
    background-position: -203px -751px;
    width: 60px;
    height: 58px;
}

.welcome-altoros-sprite-021 {
    background-position: -0px -782px;
    width: 51px;
    height: 45px;
}

.welcome-altoros-sprite-018 {
    background-position: -240px -39px;
    width: 47px;
    height: 45px;
}

.welcome-altoros-sprite-030 {
    background-position: -240px -84px;
    width: 32px;
    height: 22px;
}

.welcome-altoros-sprite-027 {
    background-position: -212px -106px;
    width: 31px;
    height: 21px;
}

.welcome-altoros-sprite-034 {
    background-position: -188px -173px;
    width: 29px;
    height: 25px;
}

.welcome-altoros-sprite-005 {
    background-position: -212px -91px;
    width: 22px;
    height: 13px;
}

.welcome-altoros-sprite-005:hover {
    background-position: -243px -106px;
    width: 22px;
    height: 13px;
}

.welcome-altoros-sprite-012 {
    background-position: -265px -106px;
    width: 20px;
    height: 14px;
}

.links a:hover .welcome-altoros-sprite-012 {
    background-position: -217px -173px;
    width: 20px;
    height: 14px;
}

.welcome-altoros-sprite-003 {
    background-position: -272px -84px;
    width: 15px;
    height: 13px;
}

.welcome-altoros-sprite-003:hover {
    background-position: -237px -173px;
    width: 15px;
    height: 13px;
}

.welcome-altoros-sprite-007 {
    background-position: -252px -173px;
    width: 15px;
    height: 17px;
}

.welcome-altoros-sprite-007 {
    background-position: -252px -173px;
    width: 15px;
    height: 17px;
}

.welcome-altoros-sprite-013 {
    background-position: -267px -173px;
    width: 15px;
    height: 15px;
}

.links a:hover .welcome-altoros-sprite-013 {
    background-position: -237px -186px;
    width: 15px;
    height: 15px;
}

.welcome-altoros-sprite-015 {
    background-position: -217px -187px;
    width: 15px;
    height: 15px;
}

.links a:hover .welcome-altoros-sprite-015 {
    background-position: -267px -188px;
    width: 15px;
    height: 15px;
}

.welcome-altoros-sprite-008 {
    background-position: -276px -128px;
    width: 14px;
    height: 16px;
}

.welcome-altoros-sprite-009 {
    background-position: -276px -144px;
    width: 14px;
    height: 14px;
}

.welcome-altoros-sprite-010, .content .accordion .element.active .element-title:after {
    background-position: -272px -97px;
    width: 14px;
    height: 8px;
}

.welcome-altoros-sprite-011, .content .accordion .element .element-title:after {
    background-position: -243px -119px;
    width: 14px;
    height: 8px;
}

.welcome-altoros-sprite-026 {
    background-position: -276px -158px;
    width: 14px;
    height: 8px;
}

.welcome-altoros-sprite-004 {
    background-position: -252px -190px;
    width: 13px;
    height: 12px;
}

.welcome-altoros-sprite-004:hover {
    background-position: -173px -310px;
    width: 13px;
    height: 12px;
}

.welcome-altoros-sprite-016 {
    background-position: -186px -310px;
    width: 12px;
    height: 10px;
}

.welcome-altoros-sprite-017 {
    background-position: -198px -310px;
    width: 12px;
    height: 12px;
}

.welcome-altoros-sprite-006 {
    background-position: -210px -310px;
    width: 10px;
    height: 12px;
}

.welcome-altoros-sprite-006:hover {
    background-position: -220px -310px;
    width: 10px;
    height: 12px;
}

.welcome-altoros-sprite-014 {
    background-position: -230px -310px;
    width: 9px;
    height: 15px;
}

.links a:hover .welcome-altoros-sprite-014 {
    background-position: -239px -310px;
    width: 9px;
    height: 15px;
}

.welcome-altoros-sprite-002 {
    background-position: -282px -173px;
    width: 7px;
    height: 13px;
}

.welcome-altoros-sprite-002:hover {
    background-position: -282px -186px;
    width: 7px;
    height: 13px;
}

.header {
    background: url('image/header-bg.jpg?123') 50% 0% no-repeat;
    height: 675px;
    position: relative;
}

.header .header-top {
    width: 100%;
    display: inline-block;
    background: rgba(255, 255, 255, .5);
    height: 40px;
}

.header .header-top .wrp {
    padding-top: 10px;
}

.header nav a {
    padding-right: 40px;
    color: #454545;
    font-size: 15px;
    height: 34px;
}
.menuontop menu #navigation ul .menubutton {
    color: #454545;
    font-size: 15px;
}
.menuontop menu #navigation ul li >a .menubutton, .menuontop menu #navigation ul li >a:visited .menubutton {
    font-weight: 400;
}

.header #menu-menu a:hover, .header .social a:hover, .header #menu-menu a.active {
    color: #a7393b;
}

.header .logo {
    position: absolute;
    left: 0;
    top: 9px;
    z-index: 1;
}

.header .social {
    float: right;
    padding-top: 7px;
    position: relative;
}

.header .social a {
    float: left;
    padding: 0 10px;
    color: #454545;
    outline: none;
}

.header .social a.enter {
    padding: 0 40px;
}

.header .social a.search {
    margin-top: 2px;
}

#header_search {
    position: absolute;
    top: 0;
    right: 40px;
    width: 100%;
}

#header_search input.search-field {
    width: 100%;
    padding: 0 10px;
    height: 40px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-family: 'proxima_nova_rgregular', sans-serif;
}

#header_search input.search-submit {
    position: absolute;
    top: 0;
    right: -40px;
    padding: 0;
    height: 40px;
    border: none;
    width: 40px;
    opacity: 0;
}

.header-right {
    position: absolute;
    right: 0;
    top: -4px;
    height: 631px;
    display: inline-block;
    background: #6bb8df;
    width: 170px;
    border: 2px solid #ffffff;
}

.header-right div {
    display: inline-block;
    width: 100%;
    height: 25%;
    border-bottom: 2px solid #ffffff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
}

.header-right div:last-child {
    border-bottom: none;
}

.header-right div a {
    margin: 15px 0;
    font-size: 16px;
    line-height: 22px;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    display: inline-block;
    width: 86%;
    opacity: 0.8;
}
.header-right div a:hover {
    text-decoration: underline;
    opacity: 1;
}

.header-right div i {
    margin-top: 20px;
}

.header-title .title {
    position: absolute;
    bottom: 0;
    width: 65%;
    /*margin-top: 350px;*/
    height: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: rgba(255, 255, 255, .5);
    display: table;
}

.header-title .title.full-width {
    width: 85.5%;
}

.header-title .title:after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    left: -100%;
    top: 0;
    background: rgba(255, 255, 255, .5);
}

.header-title .title h2 {
    font-family: 'proxima_nova_rgbold', sans-serif;
    font-weight: 700;
    font-size: 61px;
    text-transform: uppercase;
    display: table-cell;
    vertical-align: middle;
}

.header-title .title h2 {
    font-size: 61px;
    line-height: 60px;
}

.header-title .title h2 span {
    font-size: 42px;
    padding-bottom: 10px;
    display: inline-block;
}

.header-title .title a.apply, .content-bottom-block a.apply {
    font-size: 30px;
    color: #a6373a;
    border: 1px solid #a6373a;
    padding: 5px;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 30px;
    font-weight: 400;
    font-family: 'proxima_nova_rgregular', sans-serif;
}

.header-title .title a.apply:hover, .content-bottom-block a.apply:hover{
    background: #a6373a;
    color: white;
    border: 1px solid white;
}

.content-bottom-block a.apply {
    position: absolute;
    top: 35px;
    right: 30px;
    margin-top: 0;
}

.description {
    background: #f0f0f0;
    padding: 40px 0;
    border-bottom: 1px solid #b8cbd5;
}

.description h3, .content h3 {
    padding-bottom: 20px;
    font-size: 21px;
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'proxima_nova_rgregular', sans-serif;
}

.content h3 {
    padding-top: 40px;
}

.content h3:first-child {
    padding-top: 0;
}

.description a.more, a.more-btn {
    display: inline-block;
    color: #fff;
    padding: 8px 10px;
    background: #74c0e8;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 17px;
    float: right;
    margin-top: 25px;
}

.description a.more i, a.more-btn i {
    margin-bottom: 2px;
    margin-left: 10px;
}

.content {
    padding: 40px 0;
    clear: both;
    display: inline-block;
    width: 100%;
}

.content .content-right-block {
    background: #74c0e8;
    width: 270px;
    /*position: relative;*/
    /*float: right;*/
    position: absolute;
    right: 0;
    top: 0;
    padding: 20px;
    color: #ffffff;
    z-index: 10;
}
.content .content-right-block.fix-right-block {
    position: fixed;
}

.content .content-right-block h3, .content .content-right-block h4, .content .content-right-block h5, .content .content-right-block h1 {
    font-size: 19px;
    line-height: 30px;
    font-family: 'proxima_nova_rgregular', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    display: inline-block;
    width: 100%;
    margin-bottom: 25px;
    padding-bottom: 0;
    color: #ffffff;
}

.content .content-right-block h4 {
    font-size: 18px;
    margin-bottom: 0px;
}

.content .content-right-block h5 {
    font-size: 16px;
    margin-bottom: 5px;
}

.content .content-right-block .review p {
    font-size: 16px;
    font-style: italic;
    padding-bottom: 10px;
}

.content .content-right-block ul li a {
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: #ffffff;
    line-height: 1.1em;
}

.content .content-right-block span {
    text-align: center;
    display: inline-block;
    width: 100%;
    cursor: pointer;
}

.content .content-right-block .wrp-img img {
    width: 180px;
    height: 180px;
}

.content .element-block h3 {
    padding-bottom: 30px;
    font-size: 19px;
    text-transform: uppercase;
    font-family: 'proxima_nova_rgregular', sans-serif;
    font-weight: 400;
    margin-left: -20px;
}

.content .filters {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}

.content .filters label, .content .filters select {
    font-family: 'proxima_nova_rgregular', sans-serif;
    float: left;
    margin-right: 15px;
    display: inline-block;
    font-size: 14px;
    line-height: 14px;
}

.content .filters label {
    line-height: 22px;
}

.content .filters select {
    margin-right: 60px;
    padding: 2px 5px;
    width: 230px;
    border: 1px solid #808080;
    color: #4d4d4d;
    background: #f0f0f0;
}

.content .filters input {
    font-family: 'proxima_nova_rgregular', sans-serif;
    font-size: 14px;
    width: 230px;
    color: #4d4d4d;
    margin-top: -1px;
    padding: 2px 30px 2px 5px;
    background: #f0f0f0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    line-height: 1;
    border: 1px solid #808080;
}

.content .filters .filter-search {
    position: relative;
    display: inline-block;
    line-height: 0px;
}

.content .filters .filter-search a {
    position: absolute;
    right: 3px;
    top: 2px;
}

.content .accordion .element {
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
    background: #f0f0f0;
}

.content .accordion .element .element-block {
    display: none;
    padding: 30px 40px;
    clear: both;
}

/*.content .accordion .element.active {*/
    /*padding-bottom: 30px;*/
/*}*/

.content .accordion .element.active .element-block {
    display: inline-block;
    height: 10px;
    font-size: 16px;
    height: auto;
}

.content .accordion .element-title {
    background: rgba(255, 255, 255, .5);
    cursor: pointer;
    padding: 10px 15px;
    position: relative;
}

.content .accordion .element-title:after {
    content: '';
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -4px;
}

.content .accordion .element-title .element-title-name {
    color: #4d4d4d;
    font-size: 19px;
    text-decoration: none;
}

.content .accordion .element.active .element-title .element-title-name, .content .accordion .element.active .element-title .element-title-name a {
    color: #a6373a;
    text-decoration: underline;
}

.content .accordion .element-title .element-title-name a:visited {
    color: #4d4d4d;
}

.content .accordion .element.active .element-title .element-title-name:hover {
    text-decoration: none;
}

.content .accordion .element-title .element-title-right {
    float: right;
    padding-right: 300px;
    position: relative;
    font-size: 19px;
    text-transform: uppercase;
}

.content .accordion .element-title .element-title-right .hot {
    position: absolute;
    top: 0;
    right: 100px;
    color: #a6373a;
}

.content .accordion .element-title .element-title-right .hot i {
    margin-right: 10px;
}

.content .accordion .element-block p, .content .accordion .element-block ul, .content .accordion .element-block h4 {

    display: inline-block;
    width: 100%;
}

.content .accordion .element-block h4 {
    margin-top: 20px;
    margin-bottom: 5px;
}

.content .accordion .element-block ul li {
    margin-left: 20px;
    margin-bottom: 5px;
    list-style: square;
}

.content .accordion .element-block .f-left {
    margin-right: 340px;
}

.content .accordion .element-block .f-left strong {
    margin-top: 20px;
    margin-bottom: 5px;
    display: inline-block;
}

.content .accordion .element-block .f-right {
    float: right;
    width: 216px;
    display: inline-block;
}

.content .wrp-img {
    margin: 0 auto;
    width: 216px;
    height: 216px;
    display: block;
    overflow: hidden;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    margin-bottom: 20px;
}

.content .review {
    margin-bottom: 40px;
}

.content .review .wrp-img {
    margin: 0 auto 20px auto;
    width: 180px;
    height: 180px;
    display: block;
    overflow: hidden;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.content .depart {
    display: inline-block;
    width: 50%;
    float: left;
    margin-top: 30px;
}

.content .depart * {
    display: inline-block;
}

.content .depart h4 {
    margin-top: 20px;
    font-size: 19px;
}

.content .depart h5 {
    margin-top: 10px;
    color: #4d4d4d;
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 5px;
}

.content .depart .wrp-img {
    float: left;
    margin-right: 50px;
}

.content .links {
    margin-bottom: 50px;
    margin-top: 20px;
    width: 100%;
    display: inline-block;
}

.content .depart .links {
    width: auto;
}

.content .links a {
    padding-left: 30px;
    position: relative;
    display: inline-block;
    margin-bottom: 5px;
}

.content .links a:hover {
    color: #a6373a;
    text-decoration: underline;
}

.content .links i {
    position: absolute;
    left: 0;
    top: 0;
}

.content .accordion .element-block .f-right .links-btn a {
    display: inline-block;
    width: 100%;
    background: #74c0e8;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin-bottom: 10px;
    padding: 10px 5px 10px 0px;
    font-size: 11px;
    color: #fff;
    text-transform: uppercase;
    max-width: 206px;
}

.content .accordion .element-block .f-right .links-btn a span {
    border-right: 1px solid #fff;
    width: 30px;
    margin-right: 10px;
    display: inline-block;
    text-align: center;
}

.content .accordion .element-block .f-right .links-btn a:hover {
    opacity: 0.8;
}

.content .accordion .element-block .f-right .links-social {
    display: inline-block;
    margin-top: 30px;
}

.content .accordion .element-block .f-right .links-social a {
    padding-left: 10px;
}

.content .success-story {
    position: relative;
    width: 100%;
    height: 100%;
    display: inline-block;
    padding: 30px 0;
    margin-top: 30px;
}
.content .success-story:after {
    display: inline-block;
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -3px;
    width: 6px;
    height: 100%;
    background: #1e75b6;
}
.content .success-story:before {
    background: url('image/d-arr-br.png?123') 0 0 no-repeat;
    display: inline-block;
    content: '';
    position: absolute;
    top: -30px;
    left: 50%;
    margin-left: -12.5px;
    width: 25px;
    height: 28px;
}
.content .success-story .posts-year {
    position: relative;
    display: inline-block;
    width: 100%;
}
.content .success-story .posts-year .date-year {
    position: absolute;
    width: 100px;
    display: inline;
    text-align: center;
    top: 0;
    left: 50%;
    margin-left: -50px;
    padding: 5px 10px;
    background: #1e75b6;
    color: #fff;
    font-size: 19px;
    font-weight: 700;
    z-index: 1;
    border: 2px solid #fff;
}
.content .success-story .posts-year .post-wrp {
    width: 50%;
    clear: both;
    display: inline-block;
    position: relative;
}
.content .success-story .posts-year .post-cnt {
    width: 80%;
    position: relative;
    display: table;
    background: #fff;
    padding: 10px;
    z-index: 1;
    min-height: 115px;
}
.content .success-story .posts-year .post-wrp:after {
    display: inline-block;
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -1px;
    width: 100%;
    height: 2px;
    background: #1e75b6;
    z-index: 0;
}
.content .success-story .posts-year .post-wrp:before {
    display: inline-block;
    content: '';
    width: 14px;
    height: 14px;
    position: absolute;
    top: 50%;
    margin-top: -7px;
    left: 100%;
    margin-left: -7px;
    background: #1e75b6;
    z-index: 0;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.content .success-story .posts-year .post-wrp.post-right:before {
    left: 0%;
    margin-left: -7px;
}
.content .success-story .posts-year .post-wrp.post-left {
    float: left;
}
.content .success-story .posts-year .post-wrp.post-right {
    float: right;
}
.content .success-story .posts-year .post-wrp.post-left .post-cnt {
    margin-right: 20%;
}
.content .success-story .posts-year .post-wrp.post-right .post-cnt {
    margin-left: 20%;
}
.content .success-story .posts-year .post-wrp img {
    float: left;
    display: inline-block;
    width: 100%;
    max-width: 160px;
    height: auto;
}
.content .success-story .posts-year .post-wrp p {
    overflow-x: hidden;
    width: auto;
    display: table-cell;
    vertical-align: middle;
    padding-left: 30px;
    line-height: 19px;
}

.content-left-block {
    /*display: inline-block;*/
    /*width: 100%;*/
    padding-right: 290px;
}

.content-left-block h2 {
    font-size: 21px;
    font-weight: 400;
    color: #a7393b;
    text-transform: uppercase;
    padding-top: 60px;
    padding-bottom: 20px;
    font-family: 'proxima_nova_rgregular', sans-serif;
}

.content-left-block .research h3 {
    font-size: 21px;
    width: 100%;
    display: inline-block;
    font-weight: 400;
    color: #303030;
    text-transform: none;
    padding-bottom: 20px;
    font-family: 'proxima_nova_rgregular', sans-serif;
}

.content-left-block .research h3 i {
    margin-bottom: -2px;
    margin-right: 10px;
}

.content-left-block .infogr {
    display: inline-block;
    width: 100%;
}

.content-left-block .infogr div {
    width: 25%;
    float: left;
    padding-right: 3%;
    color: #5c5c5c;
    font-size: 14px;
    line-height: 1em;
}

/*.content-left-block .infogr div:first-child {*/
    /*width: 27%;*/
/*}*/

.content-left-block .infogr div:last-child {
    padding-right: 0;
}

.content-left-block .infogr div i {
    margin-bottom: 20px;
}

.content-left-block .two-blocks, .content-left-block .three-blocks {
    display: inline-block;
    margin-top: 30px;
    width: 100%;
    margin-bottom: 50px;
}

.content-left-block .three-blocks {
    margin-top: 0px;
}

.content-left-block .two-blocks div {
    position: relative;
    display: inline-block;
    width: 48%;
    margin-right: 2%;
    float: left;
}

.content-left-block .three-blocks div {
    position: relative;
    display: inline-block;
    width: 23%;
    margin-right: 2%;
    float: left;
}

.content-left-block .three-blocks div:first-child {
    position: relative;
    display: inline-block;
    width: 48%;
    margin-right: 2%;
    float: left;
}

.content-left-block .two-blocks div p, .content-left-block .three-blocks div p {
    padding-left: 20px;
    overflow: hidden;
    display: inline-block;
}

.content-left-block .two-blocks div i, .content-left-block .three-blocks div i {
    position: relative;
    float: left;
}

.content-left-block .partners table {
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

.content-left-block .partners table tr td {
    padding: 25px 0;
    border-bottom: none;
    text-align: center;
}

.city-work {
    display: inline-block;
    width: 100%;
}

.city-work div {
    display: inline-block;
    margin-bottom: 25px;
    position: relative;
    padding-left: 100px;
    min-height: 60px;
}

.city-work div i {
    position: absolute;
    left: 0;
    top: 0;
}

.city-work div p {
    padding-top: 2%;
}

.content-bottom-block {
    margin-top: 70px;
    display: inline-block;
    width: 100%;
    background: #97cfed url('image/051_big.png?123') 50% 90% no-repeat;
    height: 350px;
    position: relative;
}

.content-bottom-block h2 {
    padding: 35px 30px;
    font-weight: 400;
    font-size: 40px;
    color: #ffffff;
}

.element-content p {
    padding-bottom: 10px;
}

.content .accordion .element-block .element-content ul li {
    display: inline-block;
    margin: 10px 0;
}

.element-content ul li {
    list-style: none;
    display: inline-block;
    margin-bottom: 15px;
    padding-left: 15px;
    position: relative;
    width: 100%;
}

.element-content ul li:before {
    position: absolute;
    top: 35%;
    left: 0;
    width: 5px;
    height: 5px;
    display: inline-block;
    content: '';
    background: #51a7d9;
}

ul.gallery li {
    width: 24.25%;
    margin: 0.5%;
    float: left;
}

ul.gallery li:nth-child(4n+1) {
    margin-left: 0;
}

ul.gallery li:nth-child(4n+4) {
    margin-right: 0;
}

ul.gallery li img {
    width: 100%;
}

/*.content-left-block .partners li {
	width: 33%;
	display: table-cell;
	text-align: center;
	height: 106px;
	margin: 25px 0;
	vertical-align: middle;
}
.content-left-block .partners li a {
	display: inline-block;
	width: 100%;
}*/

#primary:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;


}

.footer {
    margin-top: 10px;
    padding: 15px 0;
    font-size: 16px;
    color: #808080;
    background: rgba(255, 255, 255, .5);
    display: inline-block;
    width: 100%;
}

.close_form {
    float: right;
    position: relative;
    margin-top: -30px;
}

.hidden {
    display: none;
}

.widget_jobmanhighlightedjobswidget.short ul {
    max-height: 350px;
    overflow: hidden;
}

.cd-top {
    cursor: pointer;
    border:1px solid red;
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    /* image replacement properties */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    /*background: rgba(232, 98, 86, 0.8) url(../img/cd-top-arrow.svg) no-repeat center 50%;*/
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1;
}
.cd-top.cd-fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: .5;
}
.no-touch .cd-top:hover {
    background-color: #e86256;
    opacity: 1;
}
@media only screen and (min-width: 768px) {
    .cd-top {
        right: 20px;
        bottom: 20px;
    }
}
@media only screen and (min-width: 1024px) {
    .cd-top {
        height: 60px;
        width: 60px;
        right: 30px;
        bottom: 30px;
    }
}

.ngg-gallery-thumbnail img {
    border: none!important;
    margin: 0!important;
    padding: 0!important;
}

#primary-menu li a {cursor: pointer}