/*
Theme Name: Welcome
Theme URI: http://welcome.altoros.com/
Authors: vitali rulinski, yaroslau osipau
Description: A clean, responsive simple theme for simple websites.
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: welcome
Tags: gray, white, custom-background, custom-header, custom-menu, flexible-header, editor-style, post-formats, one-column, two-columns, right-sidebar, full-width-template, translation-ready, fixed-layout, responsive-layout

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

SoSimple is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
th {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    border: 0;
    outline: 0;
}

html {
    font-size: 62.5%;
    /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/4/#c790 */

    overflow-y: scroll;
    /* Keeps page centered in all browsers regardless of content height */

    -webkit-text-size-adjust: 100%;
    /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
    -ms-text-size-adjust: 100%;
    /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}

*,
*:before,
*:after {
    /* apply a natural box layout model to all elements; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
    -webkit-box-sizing: border-box;
    /* Not needed for modern webkit but still used by Blackberry Browser 7.0; see http://caniuse.com/#search=box-sizing */
    -moz-box-sizing: border-box;
    /* Still needed for Firefox 28; see http://caniuse.com/#search=box-sizing */
    box-sizing: border-box;
}

body {
    background: #fff;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

table {
    border-spacing: 0;
    /* tables still need 'cellspacing="0"' in the markup */
    border-collapse: separate;
}

caption,
th,
td,
th {
    font-weight: normal;
    text-align: left;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
}

blockquote,
q {
    quotes: '' '';
}

a:focus {
    outline: thin dotted;
}

a:hover,
a:active {
    outline: 0;
}

a img {
    border: 0;
}

.bypostauthor,
.sticky {
}

/* =Rebuild
----------------------------------------------- */
* html {
    font-size: 100%;
}

html {
    font-size: 16px;
    line-height: 1.5em;
}

body,
button,
input,
select,
textarea {
    font-family: Georgia, 'Bitstream Charter', serif;
    font-size: 16px;
    font-weight: 400;
    color: #404040;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
}

/* Text elements */
p {
    margin-bottom: 24px;
}

ul,
ol {
    margin: 0 0 24px 36px;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

li > ul,
li > ol {
    margin-bottom: 0;
    margin-left: 24px;
}

dt {
    font-weight: 600;
}

dd {
    margin: 0 24px 24px;
}

b,
strong {
    font-family: 'proxima_nova_rgbold', sans-serif;
    font-weight: 700;
}

dfn,
cite,
em,
i {
    font-style: italic;
}

blockquote {
    margin: 0 24px;
}

address {
    margin: 0 0 24px;
}

pre {
    font-family: 'Courier 10 Pitch', Courier, monospace;
    font-size: .9375em;
    line-height: 1.6em;
    overflow: auto;
    max-width: 100%;
    margin-top: -2px;
    margin-bottom: 24px;
    padding: 24px;
    background: rgba(119, 119, 119, .5);
}

code,
kbd,
tt,
var {
    font-family: Monaco, Consolas, 'Andale Mono', 'DejaVu Sans Mono', monospace;
    font-size: .875em;
    line-height: 1.71429em;
}

abbr,
acronym {
    cursor: help;
    border-bottom: 1px dotted #666;
}

mark,
ins {
    text-decoration: none;
    background: #fff9c0;
}

sup,
sub {
    font-size: 75%;
    line-height: 0;
    position: relative;
    height: 0;
    vertical-align: baseline;
}

sup {
    bottom: 1ex;
}

sub {
    top: .5ex;
}

small {
    font-size: 75%;
}

big {
    font-size: 125%;
}

figure {
    margin: 0;
}

table {
    width: 100%;
    margin: 0 0 24px;
}

th {
    font-weight: bold;
}

img {
    /* Make sure images are scaled correctly. */
    max-width: 100%;
    height: auto;
    /* Adhere to container width. */
}

/* Alignment */
.alignleft {
    display: inline;
    float: left;
    margin-right: 24px;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 24px;
}

.aligncenter {
    display: block;
    clear: both;
    margin: 0 auto;
}

/* Text meant only for screen readers */
.screen-reader-text {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
    font-weight: 600;
    line-height: 24px;
    position: absolute !important;
    z-index: 100000;
    top: 24px;
    left: 24px;
    display: inline-block;
    clip: auto !important;
    padding: 24px;
    border: 1px solid #000;
    background-color: #fff;
    -webkit-box-shadow: rgba(0, 0, 0, .6) 2px 2px 10px;
    -moz-box-shadow: rgba(0, 0, 0, .6) 2px 2px 10px;
    box-shadow: rgba(0, 0, 0, .6) 2px 2px 10px;
}

/* Clearing */
.clear:before,
.clear:after {
    display: table;
    content: '';
}

.clear:after {
    clear: both;
}

.entry-content:before,
.entry-content:after {
    display: table;
    content: '';
}

.entry-content:after {
    clear: both;
}

.comment-content:before,
.comment-content:after {
    display: table;
    content: '';
}

.comment-content:after {
    clear: both;
}

.site-header:before,
.site-header:after {
    display: table;
    content: '';
}

.site-header:after {
    clear: both;
}

.site-content:before,
.site-content:after {
    display: table;
    content: '';
}

.site-content:after {
    clear: both;
}

.site-footer:before,
.site-footer:after {
    display: table;
    content: '';
}

.site-footer:after {
    clear: both;
}

/* =Forms
----------------------------------------------- */
button,
input,
select,
textarea {
    margin: 0;
    /* Addresses margins set differently in IE6/7, F3, S5, Chrome */

    vertical-align: baseline;
    /* Improves appearance and consistency in all browsers */

    *vertical-align: middle;
    /* Improves appearance and consistency in all browsers */
}

button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
    cursor: pointer;
    color: rgba(0, 0, 0, .8);
    border: 1px solid #ccc;
    border-color: #ccc #ccc #bbb #ccc;
    border-radius: 3px;
    background: #e6e6e6;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .5), inset 0 15px 17px rgba(255, 255, 255, .5), inset 0 -5px 12px rgba(0, 0, 0, .05);
    /* Corrects inability to style clickable 'input' types in iOS */
    text-shadow: 0 1px 0 rgba(255, 255, 255, .8);
    /* Improves usability and consistency of cursor style between image-type 'input' and others */

    -webkit-appearance: button;
}

button:hover,
input[type='button']:hover,
input[type='reset']:hover,
input[type='submit']:hover {
    border-color: #ccc #bbb #aaa #bbb;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .8), inset 0 15px 17px rgba(255, 255, 255, .8), inset 0 -5px 12px rgba(0, 0, 0, .02);
}

button:focus,
input[type='button']:focus,
input[type='reset']:focus,
input[type='submit']:focus,
button:active,
input[type='button']:active,
input[type='reset']:active,
input[type='submit']:active {
    border-color: #aaa #bbb #bbb #bbb;
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255, .5), inset 0 2px 5px rgba(0, 0, 0, .15);
}

input[type='checkbox'],
input[type='radio'] {
    padding: 0;
    /* Addresses excess padding in IE8/9 */
}

input[type='search'] {
    /* Addresses appearance set to searchfield in S5, Chrome */
    -webkit-box-sizing: content-box;
    /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: textfield;
}

input[type='search']::-webkit-search-decoration {
    /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
    -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    /* Corrects inner padding and border displayed oddly in FF3 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */

    border: 0;
}

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
textarea {
    color: #666;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type='text']:focus,
input[type='email']:focus,
input[type='url']:focus,
input[type='password']:focus,
input[type='search']:focus,
textarea:focus {
    color: #111;
}

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'] {
    padding: 3px;
}

textarea {
    overflow: auto;
    /* Improves readability and alignment in all browsers */

    width: 98%;
    /* Removes default vertical scrollbar in IE6/7/8/9 */
    padding-left: 3px;
    vertical-align: top;
}

* html {
    font-size: 100%;
}

html {
    font-size: 16px;
    line-height: 1.2em;
    /*line-height: 1.7em;*/
}

.menu-toggle:before,
.format-link .entry-title a:after,
.social-links ul a:before {
    font-family: 'Genericons';
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    vertical-align: bottom;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
}

/* =Global */
body {
    background-color: #eee;
    font-family: "Open Sans", Georgia, Times, serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 27px;
    color: #666;
}

/* Alignment */
.alignleft {
    display: inline;
    float: left;
    margin: 14px 27px 14px 0;
}

.alignright {
    display: inline;
    float: right;
    margin: 14px 0 14px 27px;
}

.aligncenter {
    display: block;
    clear: both;
    margin: 14px auto;
}

.alignnone {
    margin-top: 14px;
    margin-bottom: 14px;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #666;
    font-family: "Open Sans", Georgia, Times, serif;
}

h1 {
    font-size: 28px;
    font-weight: normal;
    margin: 27px 0;
}

h2 {
    font-size: 20px;
    font-weight: normal;
    margin: 27px 0;
}

h3,
#respond h3 {
    font-size: 20px;
    font-weight: normal;
    margin: 27px 0;
}

h4 {
    font-size: 16px;
    font-weight: normal;
    margin: 27px 0;
}

h5 {
    font-size: 16px;
    font-weight: normal;
    margin: 27px 0;
}

h6 {
    font-size: 14px;
    font-weight: normal;
    margin: 27px 0;
}

hr {
    height: 0;
    margin-top: -1px;
    margin-bottom: 24px;
    padding-top: 24px;
    border: 1px solid #ccc;
    border-width: 0 0 1px 0;
    clear: both;
}

/* Text elements */
p {
    margin-bottom: 27px;
}

ul {
    margin: 0 0 27px 27px;
    list-style: disc;
}

ul ul {
    list-style: square;
}

ul ul ul {
    list-style: circle;
}

ol {
    margin: 0 0 27px 27px;
    list-style: decimal;
}

ol ol {
    list-style: lower-alpha;
}

ol ol ol {
    list-style: lower-roman;
}

li > ul,
li > ol {
    margin-bottom: 0;
    margin-left: 27px;
}

dt {
    font-weight: 400;
}

dd {
    margin: 14px 0 14px 27px;
}

b,
strong {
    font-weight: bold;
}

dfn,
cite,
em,
i {
    font-style: italic;
}

blockquote {
    margin: 0 0 27px;
    padding-left: 48px;
    position: relative;
    color: #999;
}

blockquote:before {
    font-family: Genericons;
    font-size: 32px;
    color: #eee;
    content: "\f106";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

blockquote blockquote {
    font-size: inherit;
}

blockquote cite {
    display: block;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    margin-top: 7px;
    width: 100%;
    text-align: right;
}

button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
    font-family: "Open Sans", Georgia, Times, serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 14px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #999;
    border: 3px solid #eee;
    background: white;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
}

button:hover,
button:focus,
button:active,
input[type='button']:hover,
input[type='button']:focus,
input[type='button']:active,
input[type='reset']:hover,
input[type='reset']:focus,
input[type='reset']:active,
input[type='submit']:hover,
input[type='submit']:focus,
input[type='submit']:active {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    color: #a7393b;
    border-color: #a7393b;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 100%;
    padding: 12px;
    border: 1px solid #eee;
}

input[type='text']:active,
input[type='text']:focus,
input[type='email']:active,
input[type='email']:focus,
input[type='url']:active,
input[type='url']:focus,
input[type='password']:active,
input[type='password']:focus,
input[type='search']:active,
input[type='search']:focus {
    border-color: #d4d4d4;
    outline: none;
    background: white;
}

textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 100%;
    padding: 12px;
    border: 1px solid #eee;
}

textarea:active,
textarea:focus {
    border-color: #d4d4d4;
    outline: none;
}

address {
    font-style: italic;
    margin-bottom: 27px;
}

pre {
    background: transparent;
    color: #666;
    font-family: "Open Sans", Georgia, Times, serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 27px;
    overflow: auto;
    max-width: 100%;
    margin-bottom: 27px;
    padding: 0;
}

code,
kbd,
tt,
var {
    font: 14px Monaco, Consolas, 'Andale Mono', 'DejaVu Sans Mono', monospace;
    font-size: 1em;
    line-height: 2.09231em;
}

abbr,
acronym {
    margin-bottom: 26px;
    cursor: help;
    border-bottom: 1px dotted #eee;
}

mark,
ins {
    text-decoration: none;
    background: fff9c0;
}

sup,
sub {
    font-size: .8125em;
    line-height: 2.09231em;
    line-height: 0;
    position: relative;
    height: 0;
    vertical-align: baseline;
}

sup {
    bottom: 1ex;
}

sub {
    top: .5ex;
}

small {
    font-size: .8125em;
    line-height: 2.09231em;
}

big {
    font-size: 1.2em;
    line-height: 1.36em;
}

figure {
    margin: 0;
}

table {
    width: 100%;
    margin-bottom: 27px;
}

td,
th {
    padding: 7px 3px 6px;
    border-collapse: collapse;
    border-bottom: 1px solid #eee;
}

th {
    font-weight: bold;
    padding-bottom: 4px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-bottom-width: 3px;
}

img {
    max-width: 100%;
    height: auto;
}

/* Links */
a {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    text-decoration: none;
    color: #a7393b;
}

a:visited {
    color: #a7393b;
}

a:hover,
a:focus,
a:active {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    color: #999;
}

/* =Layout */
.site {
    margin: 0 auto;
    /*padding: 27px;*/
    /*background: white;*/
    position: relative;
}

.site-footer {
    font-size: .8125em;
    line-height: 2.09231em;
    clear: both;
    width: 100%;
    margin: 24px 0 0;
    padding: 14px 0 0;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #999;
    border-top: 3px solid #eee;
}

.site-footer a {
    text-decoration: none;
    color: #999;
}

.site-footer a:hover {
    color: #a7393b;
}

.site-footer .sep {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    margin: 0;
}

.site-content .widget-area {
    margin-top: 27px;
    padding-top: 24px;
    border-top: 3px solid #eee;
}

/* =Header */
.site-header {
    margin: 0 0 27px;
    padding: 0 0 24px;
    border-bottom: 3px solid #eee;
}

.site-logo {
    display: block;
    width: auto;
    max-height: 150px;
    margin: 0 auto 7px;
}

.custom-header {
    display: block;
    margin: 0 auto;
    margin-bottom: 27px;
    border-radius: 5px;
}

.site-branding {
    clear: both;
    margin-bottom: 14px;
    text-align: center;
}

.site-title {
    font-size: 27px;
    line-height: 1;
    position: relative;
    z-index: 2;
    display: inline-block;
    clear: none;
    margin: 0;
}

.site-title a {
    text-decoration: none;
    color: #666;
}

.site-branding .site-logo a > img {
    max-width: 250px;
}

.site-description {
    color: #999;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0;
    margin: 7px auto;
    text-align: center;
}

/* =Menu */
.main-navigation {
    /*border-top: 3px solid #eee;*/
    /*font-weight: normal;*/
    /*position: relative;*/
    /*display: block;*/
    /*letter-spacing: 1px;*/
    /*!*margin-top: 27px;*!*/
    /*!*padding-top: 24px;*!*/
    /*text-transform: uppercase;*/
    /*z-index: 1;*/
    float: left;
    position: relative;
    padding-left: 200px;
    text-align: left;
    height: 40px;
    margin-top: 3px;
}

.main-navigation ul {
    clear: both;
    margin: 0;
    padding-left: 0;
    list-style: none;
    padding-top: 3px;
}

.main-navigation li {
    position: relative;
    display: block;
}

.main-navigation li:hover > a {
    color: #a7393b;
}

.main-navigation a,
.main-navigation a:visited {
    display: inline-block;
    /*padding: 14px 0 14px;*/
    text-decoration: none;
    /*color: #999;*/
    /*border-bottom: 1px solid #eee;*/
    padding-right: 40px;
    color: #454545;
    font-size: 15px;
}

.main-navigation ul:first-child > li:last-of-type a {
    border-bottom: 0;
}

.current_page_item a,
.current-menu-item a,
.current_page_item a:visited,
.current-menu-item a:visited {
    color: #a7393b;
}

/* Small menu */
.menu-toggle,
.main-navigation.toggled .nav-menu {
    display: block;
}

.menu-toggle {
    margin: 0 auto;
    position: relative;
    padding: 5px 7px;
    border: 1px solid #eee;
}

.menu-toggle:before {
    font-size: 16px;
    margin-right: 5px;
    content: '\f419';
    position: relative;
    top: -2px;
}

.toggled .menu-toggle {
    color: #a7393b;
    border-color: #a7393b;
}

.main-navigation ul:first-child {
    display: none;
}

.main-navigation ul ul li a {
    padding-left: 14px;
}

.main-navigation ul ul ul li a {
    padding-left: 28px;
}

.main-navigation ul ul ul ul li a {
    padding-left: 42px;
}

/* =Content */
.hentry {
    position: relative;
    margin: 0 0 53px;
    padding: 0 0 27px;
    border-bottom: 1px solid #eee;
}

.site-main .hentry:last-of-type {
    border-bottom: 0;
    margin-bottom: 0;
}

.byline,
.updated {
    display: none;
}

.single .byline,
.group-blog .byline {
    display: inline;
}

.attachment-penscratch-featured {
    margin: 14px 0 0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    opacity: 1;
    border-radius: 3px;
}

.hentry:hover .attachment-penscratch-featured {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    opacity: .7;
}

.entry-footer,
.entry-meta {
    font-size: .8125em;
    font-weight: normal;
    line-height: 2.09231em;
    margin: 0 0 27px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #999;
}

.entry-footer a,
.entry-meta a,
.entry-footer a:visited,
.entry-meta a:visited {
    color: #999;
}

.entry-footer a:hover,
.entry-meta a:hover {
    color: #a7393b;
}

.entry-title {
    font-size: 1.75em;
    line-height: 1.10em;
    line-height: 1.21429em;
    margin: 0 0 7px;
}

.entry-title a,
.entry-title a:visited {
    text-decoration: none;
    color: #666;
}

.entry-title a:hover {
    color: #a7393b;
}

.page .entry-title {
    margin: 0 0 27px;
}

.sep {
    margin: 0 3px;
}

.page-links {
    clear: both;
    margin: 27px 0;
    word-spacing: 7px;
}

.page-title {
    font-size: 18px;
    line-height: 1.36em;
    margin: 0;
    padding-bottom: 14px;
    letter-spacing: 1px;
    color: #999;
    border-bottom: 1px solid #eee;
}

.page-header {
    margin-bottom: 27px;
}

.taxonomy-description {
    font-style: italic;
    margin-top: 27px;
}

/* =Post Formats */
.format-link .entry-title a:after {
    font-size: 32px;
    margin-left: 5px;
    content: '\f442';
}

/* =Media */
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    border: none;
}

.wp-caption {
    max-width: 100%;
    margin-bottom: 27px;
}

.wp-caption img[class*='wp-image-'] {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

.wp-caption-text {
    font-size: .8125em;
    line-height: 1.5675em;
    margin: 14px 0;
    padding: 0 1%;
}

.site-content .gallery {
    margin-bottom: 27px;
    margin-top: 27px;
}

.site-content .gallery a img {
    max-width: 90%;
    height: auto;
}

.site-content .gallery dd {
    margin: 0;
}

/* Gallery column widths */
.gallery-columns-1 .gallery-item {
    width: 100%;
}

.gallery-columns-2 .gallery-item {
    width: 50%;
}

.gallery-columns-3 .gallery-item {
    width: 33.33%;
}

.gallery-columns-4 .gallery-item {
    width: 25%;
}

.gallery-columns-5 .gallery-item {
    width: 20%;
}

.gallery-columns-6 .gallery-item {
    width: 16.667%;
}

.gallery-columns-7 .gallery-item {
    width: 14%;
}

.gallery-columns-8 .gallery-item {
    width: 12.5%;
}

.gallery-columns-9 .gallery-item {
    width: 11.11%;
}

.site-content .gallery-columns-1.gallery a img {
    max-width: 100%;
}

.gallery-item {
    display: inline-block;
    margin-bottom: 14px;
    text-align: center;
    vertical-align: top;
}

.gallery-item img {
    padding: 3px;
    border: 1px solid #eee;
    border-radius: 3px;
}

.gallery-caption {
    font-size: .8125em;
    line-height: 2.09231em;
    line-height: 2.09231em;
    max-width: 90%;
    margin: 0 auto;
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
    max-width: 100%;
}

/* =Navigation */
.site-main .post-navigation,
.site-main .paging-navigation {
    font-size: .8125em;
    font-style: italic;
    line-height: 2.09231em;
    line-height: 1.5;
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 12px 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.site-main .post-navigation .meta-nav,
.site-main .paging-navigation .meta-nav {
    clear: both;
    color: #a7393b;
    display: block;
    font-style: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.site-main .post-navigation .nav-previous a,
.site-main .paging-navigation .nav-previous a {
    color: #aaa;
    position: relative;
    float: left;
    width: 50%;
    text-decoration: none;
}

.site-main .post-navigation .nav-next a,
.site-main .paging-navigation .nav-next a {
    color: #aaa;
    position: relative;
    float: right;
    width: 50%;
    text-align: right;
    text-decoration: none;
}

.site-main .post-navigation a,
.site-main .paging-navigation a {
    color: #aaa;
}

.site-main .post-navigation a:hover,
.site-main .paging-navigation a:hover {
    color: #666;
}

.comment-navigation:before,
.comment-navigation:after {
    display: table;
    content: '';
}

.comment-navigation:after {
    clear: both;
}

.site-main .comment-navigation {
    font-size: .8125em;
    line-height: 2.09231em;
    line-height: 1.5;
    clear: both;
    width: 100%;
    margin: 27px 0;
    padding: 12px 0;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.site-main .comment-navigation .nav-previous {
    position: relative;
    float: left;
    width: 50%;
    text-align: left;
}

.site-main .comment-navigation .nav-next {
    position: relative;
    float: right;
    width: 50%;
    text-align: right;
}

/* =Comments */

.comments-area {
    margin: 24px auto 0;
    border-top: 3px solid #eee;
}

.comments-title,
#respond h3 {
    font-size: 1.2em;
    line-height: 1.36em;
    color: #999;
}

.comments-title small,
.comment-reply-title small {
    float: right;
}

.comment-list,
.comment-list .children {
    list-style: none;
}

.comment-list {
    margin: 0;
}

.comment-list > .comment:first-of-type {
    padding-top: 0;
    border-top: 0;
}

.comment {
    margin-top: 26px;
    padding-top: 27px;
    border-top: 1px solid #eee;
}

.comment-meta {
    text-transform: uppercase;
}

.comment-meta a {
    color: #666;
}

.comment-meta .comment-author img {
    float: left;
    border-radius: 50%;
}

.comment-meta .comment-author .fn {
    display: block;
    font-weight: normal;
    margin-left: 74px;
    text-transform: none;
}

.comment-meta .comment-metadata {
    font-size: .8125em;
    font-weight: normal;
    line-height: 2.09231em;
    margin-bottom: 27px;
    margin-left: 74px;
    letter-spacing: 1px;
    color: #999;
}

.comment-meta .comment-metadata a {
    color: #999;
}

.comment-meta .comment-metadata a:hover {
    color: #a7393b;
}

.comments-area .edit-link:before {
    display: inline;
    margin: 0 7px;
    content: ' ~ ';
}

.comment-form label {
    display: inline-block;
    width: 109px;
}

.required {
    color: #a7393b;
}

.comment-form-author,
.comment-form-email,
.comment-form-url,
.comment-form-comment {
    position: relative;
    margin: 0 0 27px;
}

.comment-form-author label,
.comment-form-email label,
.comment-form-url label,
.comment-form-comment label {
    font-size: .8125em;
    font-weight: normal;
    line-height: 2.09231em;
    position: absolute;
    top: 7px;
    left: 0;
    padding: 7px 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.comment-form-comment label {
    top: 1px;
    left: 1px;
    background: white;
    width: 95.5%;
}

.comment-form-author input,
.comment-form-email input,
.comment-form-url input,
.comment-form-comment input {
    display: block;
    width: 100%;
    margin: 0 0 27px;
    padding-left: 100px;
}

.comment-form-author textarea,
.comment-form-email textarea,
.comment-form-url textarea,
.comment-form-comment textarea {
    clear: both;
    width: 100%;
    margin: 0 0 27px;
    padding: 54px 14px 7px;
}

.says {
    display: none;
}

.form-allowed-tags {
    color: #999;
}

.no-comments {
    font-style: italic;
    margin: 27px 0;
    text-align: center;
    color: #999;
}

/* =Widgets */
.widget {
    /*line-height: 2.09231em;*/
    /*position: relative;*/
    /*overflow: hidden;*/
    /*width: 100%;*/
    /*margin: 0 0 27px;*/
    /*padding: 0 0 27px;*/
    /*border-bottom: 1px solid #eee;*/
}

.widget select {
    max-width: -webkit-calc(100% - 48px);
    max-width: calc(100% - 48px);
    margin-left: 1px;
}

.widget a {
    text-decoration: none;
    color: #a7393b;
}

.widget a:hover,
.widget a:active,
.widget a:focus {
    color: #666;
}

.widget ul {
    margin: 0;
    list-style: none;
}

.widget li {
    margin: 0;
    /*padding-top: 6px;*/
    /*padding-bottom: 7px;*/
    list-style: none;
    /*border-top: 1px solid #eee;*/
}

.widget-title {
    font-size: 18px;
    font-weight: normal;
    line-height: 1.36em;
    margin: 14px 0;
}

.widget-title a {
    color: #666;
}

/* Calendar widget */
#wp-calendar td,
#wp-calendar th,
#wp-calendar th {
    text-align: center;
}

#wp-calendar caption {
    font-weight: 700;
    margin: 14px 0;
    text-align: center;
}

#wp-calendar a {
    text-decoration: none;
    color: #a7393b;
}

/* Recent Comments */
.widget_recent_comments td,
.widget_recent_comments th {
    border: 0;
}

/* Tags */
.tags-links {
    display: block;
    margin-top: 7px;
}

.tags-links:before,
.tags-links:after {
    display: table;
    content: '';
}

.tags-links:after {
    clear: both;
}

.wp_widget_tag_cloud a,
.tags-links a {
    font-size: inherit !important;
    display: inline-block;
    margin: 0 7px 7px 0 !important;
    padding: 0 7px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #999;
    border: 1px solid #eee;
}

.wp_widget_tag_cloud a:hover,
.tags-links a:hover {
    color: #a7393b;
    border-color: #a7393b;
}

/* =Jetpack */

.jetpack-video-wrapper {
    margin-bottom: 27px;
}

.jetpack-slideshow.slideshow-black {
    background-color: #eee;
    border-color: #eee;
}

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation,
.infinite-scroll.neverending .site-footer {
    display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
    display: block;
}

.infinite-wrap {
    border-top: 1px solid #eee;
    padding-top: 53px;
}

#infinite-footer {
    z-index: 999;
}

#infinite-footer .container {
    font-style: italic;
    position: relative;
    color: #999;
    border-top: 0;
    background: white;
}

#infinite-footer .container a {
    color: #999;
}

#infinite-footer .container a:hover {
    color: #a7393b;
}

#infinite-footer .blog-info a,
#infinite-footer .blog-credits {
    font-size: .8125em;
    font-weight: normal;
    font-style: normal;
    line-height: 2.09231em;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.infinite-loader {
    clear: both;
    width: 28px;
    height: 43px;
    margin: 0 auto 14px;
    padding-top: 27px;
}

#infinite-handle {
    clear: both;
    width: 100%;
    margin: 0;
}

#infinite-handle span {
    border-radius: 3px;
    display: block;
    font-size: 1em;
    font-weight: normal;
    padding: 10px 14px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    letter-spacing: 1px;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    color: #999;
    border: 3px solid #eee;
    background: white;
    text-align: center;
    width: 160px;
}

#infinite-handle span:hover {
    border-color: #a7393b;
    color: #a7393b;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

div.sharedaddy div.sd-block {
    padding: 14px 0 14px !important;
}

/* =Social Links */
.social-links {
    clear: both;
    margin: 14px auto;
}

.social-links ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.social-links ul li {
    display: inline-block;
    margin: 0;
    list-style: none;
}

.social-links ul a {
    display: inline-block;
    text-decoration: none;
}

.social-links ul a:before {
    line-height: 1;
    position: relative;
    display: block;
    margin-left: 4px;
    margin-top: 2px;
    margin-bottom: 4px;
    padding: 8px 7px 8px 9px;
    content: '\f415';
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: top .3s ease-in-out;
    transition: all .1s ease-in-out;
    text-align: center;
    color: white;
    border-radius: 50%;
    background: #ccc;
}

.social-links ul a:hover {
    text-decoration: none;
}

.social-links ul a:hover:before {
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    text-decoration: none;
    background: #a7393b;
}

.social-links ul a[href*='wordpress.org']:before,
.social-links ul a[href*='wordpress.com']:before {
    content: '\f205';
}

.social-links ul a[href*='facebook.com']:before {
    content: '\f204';
}

.social-links ul a[href*='twitter.com']:before {
    content: '\f202';
}

.social-links ul a[href*='dribbble.com']:before {
    content: '\f201';
}

.social-links ul a[href*='plus.google.com']:before {
    content: '\f206';
}

.social-links ul a[href*='pinterest.com']:before {
    content: '\f209';
}

.social-links ul a[href*='github.com']:before {
    content: '\f200';
}

.social-links ul a[href*='tumblr.com']:before {
    content: '\f214';
}

.social-links ul a[href*='youtube.com']:before {
    content: '\f213';
}

.social-links ul a[href*='flickr.com']:before {
    content: '\f211';
}

.social-links ul a[href*='vimeo.com']:before {
    content: '\f212';
}

.social-links ul a[href*='instagram.com']:before {
    content: '\f215';
}

.social-links ul a[href*='codepen.io']:before {
    content: '\f216';
}

.social-links ul a[href*='linkedin.com']:before {
    content: '\f207';
}

.social-links ul a[href*='foursquare.com']:before {
    content: '\f226';
}

.social-links ul a[href*='reddit.com']:before {
    content: '\f222';
}

.social-links ul a[href*='digg.com']:before {
    content: '\f221';
}

.social-links ul a[href*='getpocket.com']:before {
    content: '\f224';
}

.social-links ul a[href*='path.com']:before {
    content: '\f219';
}

.social-links ul a[href*='stumbleupon.com']:before {
    content: '\f223';
}

.social-links ul a[href*='spotify.com']:before {
    content: '\f223';
}

.social-links ul a[href*='twitch.tv']:before {
    content: '\f516';
}

.social-links ul a[href*='dropbox.com']:before {
    content: '\f225';
}

.social-links ul a[href*='/feed']:before {
    content: '\f515';
}

.social-links ul a[href*='skype']:before {
    content: '\f220';
}

.social-links ul a[href*='mailto']:before {
    content: '\f410';
}

/* Media Queries */
@media screen and (min-width: 75em) {
    .site {
        max-width: 1170px;
        margin: 0 auto;
        padding: 0px;
    }
}

@media screen and (min-width: 55em) {
    .no-sidebar .site {
        max-width: 872px;
        padding: 54px 108px;
    }
}

@media screen and (min-width: 50em) {

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 28px;
    }

    h3,
    #respond h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 20px;
    }

    .entry-title {
        font-size: 32px;
        text-transform: capitalize;
    }

    .content-area {
        float: left;
        width: 100%;
        margin: 0 -30% 0 0;
    }

    /*.site-main {*/
    /*margin: 0 30% 0 0;*/
    /*}*/
    .site-content .widget-area {
        float: right;
        overflow: hidden;
        width: 25%;
        margin-top: 0;
        padding-top: 0;
        border-top: 0;
    }

    .no-sidebar .content-area,
    .no-sidebar .site-main,
    .page-template-fullwidth-page-php .site-main {
        float: none;
        margin: 0;
    }

    .site-info {
        line-height: 1.7;
        float: left;
        max-width: 60%;
        text-align: left;
    }

    .social-links {
        float: right;
        clear: none;
        max-width: 40%;
        margin: 0;
        text-align: right;
    }

    .entry-content {
        font-size: 1em;
        line-height: 1.2em;
        /*line-height: 1.7em;*/
    }

    pre {
        font-size: 1em;
    }

    /* Search */
    .widget_search .search-submit {
        display: none;
    }

    blockquote {
        font-size: 1.2em;
        line-height: 1.4em;
        padding-left: 64px;
    }

    blockquote cite {
        font-size: .8125em;
    }

    blockquote:before {
        font-size: 48px;
    }

    blockquote.alignleft,
    blockquote.alignright {
        max-width: 280px;
        padding-left: 48px;
    }

    blockquote.alignleft:before,
    blockquote.alignright:before {
        font-size: 32px;
    }

    .menu-toggle {
        display: none;
    }

    .main-navigation {
        font-size: .8125em;
        line-height: 2.09231em;
        text-align: center;
        float: left;
    }

    .main-navigation ul:first-child {
        display: block;
    }

    .main-navigation ul li {
        display: inline-block;
    }

    .main-navigation ul li:hover > ul,
    .main-navigation ul li.focus > ul {
        display: block;
        visibility: visible;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        opacity: 1;
    }

    .main-navigation ul a {
        /*padding: 7px 9px;*/
        border-bottom: 0;
    }

    .main-navigation ul ul {
        position: absolute;
        z-index: 99999;
        top: 34px;
        left: -11px;
        display: none;
        visibility: hidden;
        float: left;
        padding: 0 9px;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        text-align: left;
        opacity: 0;
        /*border: 1px solid #eee;*/
        /*background: rgba(255,255,255,.5);*/
    }

    .main-navigation ul ul li {
        padding: 5px 5px 4px;
        border-left: 2px solid rgba(255, 255, 255, 0);
        /*border-bottom: 1px solid #eee;*/

        background: rgba(255, 255, 255, .5);
        margin-top: 5px;
    }

    .main-navigation ul ul li:hover {
        border-left: 2px solid #a7393b;
        background: rgba(255, 255, 255, .8);

    }

    .main-navigation ul ul li:last-of-type {
        border-bottom: 0;
    }

    .main-navigation ul ul li a {
        line-height: 1.2em;
        width: 180px;
        padding: 5px;
    }

    .main-navigation ul ul ul {
        top: 0;
        left: 100%;
    }

    .main-navigation ul ul li a,
    .main-navigation ul ul ul li a,
    .main-navigation ul ul ul ul li a {
        padding-left: 5px;
    }
}

.post-edit-link {
    background: gray;
    padding: 0 10px;
    margin: 0 5px;
    color: white !important;
}

.entry-content, .entry-summary, .page-content, .comment-content {
    -moz-hyphens: auto;
    word-wrap: break-word;
}

.ss_rounded {
    border-radius: 5px;
}

.ss_squared {
    border-radius: 0;
}

a.more-link {
    display: block;
}